* {
	box-sizing: border-box;
}

/* ELEMENT STYLES -------------------- */

body {
  font-family: Montserrat;
}

header {

}

header h1 {
	text-align: center;
	font-weight: bold;
	margin: 1em auto;
	color: white;
}

p {
	text-align: center;
	font-style: italic;
	color: white;
}

/* FORMS */

form {
  
}



/* ICONS */


/* COMPONENT STYLES -------------------- */

.scoreboard {
	width: 70%;
	display: table; /* cross browser alternative to fit-content*/ 
	/* height: 100vh; */
	/* height: fit-content; */
	background-color: dodgerblue;
	border: 4px black solid;
	border-radius: 5px;
	margin: auto;
	

}

.gamesRem {
	display: block;
	text-align: right;
	margin-right: 2em;
}

table {
	margin: 2em auto;
	border: white solid 4px;
	border-radius: 5px;
}

.col {
	width: 90px;
}



.data {
	text-align: center;
	font-size: 2em;
	height: 50px;
}

.data:hover {
	border: inset white 3px;
	height: 44px; /* inset border and reduced cell height by 2*border-width, to maintain cell size on hover */
} 
.left,
.right {
	visibility: hidden;
	background: white;
	width: 25px;
	height: 25px;
	border: black 2px solid;
	vertical-align: middle;
	-webkit-user-select: none; /* Chrome/Safari -- prevents users highlighting spans on multiple clicks*/        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}


.left {
	margin-right: auto;
}

.right {
	margin-left: auto;
}

.left:hover{
	background: red;
}

.right:hover {
	background: green;
}

.row {
	width: 70%;
	margin: auto;
	border: black 2px solid;
	margin-top: 0;
	margin-bottom: 0;
	border: black solid 2px;
}

.row:hover{
	cursor: pointer;
}

thead .col-headings {
	background: yellow;
}

tbody .row:nth-of-type(1) {
	background: aqua;
}

tbody .row:nth-last-of-type(1) {
	background: red;
}
