* {
	box-sizing: border-box; /* box width includes border, to avoid awkward sizing issues */
}

/* === ELEMENT STYLES ================ */

body {
  font-family: Montserrat;
}

header {

}

header h1 {
	text-align: center;
	font-weight: bold;
	margin: 1em auto;
	color: white;
}

p {
	text-align: center;
	font-style: italic;
	color: white;
}


/* === COMPONENT STYLES =============== */

table {
	margin: 2em auto;
	border: white solid 4px;
	border-radius: 5px;
}

.scoreboard {
	width: 80%;
	min-width: 1200px;
	display: table; /* cross browser alternative to fit-content*/ 
	background-color: dodgerblue;
	border: 4px black solid;
	border-radius: 5px;
	margin: auto;
	

}

.gamesRem {
	display: block;
	text-align: right;
	margin-right: 2em;
}

.col {
	max-width: 120px;
}

.name-col {
	width: 240px;
}

.data {
	text-align: center;
	width: 105px;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	font-size: 2em;
	height: 50px;
}

.left,
.right {
	visibility: hidden;
	background: white;
	width: 25px;
	height: 20px;
	border: 1px black solid;
	border-radius: 5px;
	vertical-align: middle;
	-webkit-user-select: none; /* Chrome/Safari -- prevents users highlighting spans on multiple clicks*/        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}


.left {
	position: relative;
	left: 0;
	padding-left: 8px; /* offset smaller span size due to shortness of '-' */
	padding-right: 8px;
	margin-right: 5px;
}

.right {
	position: relative;
	right: 0;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
}

.left:hover{
	background: red;
}

.right:hover {
	background: green;
}

.row {
	width: 70%;
	background-color: lightgray;
	margin: auto;
	border: black 2px solid;
	margin-top: 0;
	margin-bottom: 0;
	border: black solid 2px;
}

.row:hover{
	cursor: pointer;
}

th {
	background: black;
	color: white;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	
}

tbody .row:nth-of-type(1) {
	background: yellow;
}

tbody .row:nth-last-of-type(1) {
	background: red;
}
